@import 'tailwindcss';

.card {
  @apply flex items-center justify-center outline-1 rounded-lg hover:cursor-pointer
}

.game-button {
  @apply 
    hover:cursor-pointer hover:bg-gray-800
    text-xl p-2 outline-1 text-gray-200 rounded-sm
    disabled:outline-none disabled:cursor-not-allowed
    disabled:text-gray-500
}